<a href="/WAIS">WAIS</a> (host (database (words)))<br>
<a href="/INFO">INFO</a> (group (keywords))<br>
<a href="/KEPPI">KEPPI</a> (group (keywords))<br>
<a href="/MAIL">MAIL</a> (host (group (keywords)))<br>
<a href="/NEWS">NEWS</a> (host (group (keywords)))<br>
<a href="/WEATHER">WEATHER</a> (area-name (day-number 0-5))<br>
<a href="/GOLF">GOLF</a> field-name (day-number 0-5))<br>
<a href="/FAX">FAX</a> (number (name (text)))<br>
<a href="/TONES">TONES</a> (name)<br>